body {
    background-color: rgb(43, 43, 43);
    background-image: url('https://i.imgur.com/WM7rfjT.jpg');
    background-size: cover;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 40px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #f0f0f0;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 15px;
    color: #ffffff;
}

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #17c92f;
    font-size: 13px;
    color: #17c92f;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #17c92f;
    border-radius: 2px;
    background-color: #17c92f;
    font-size: 13px;
    color: #ffffff;
}

button:focus {
    outline: 0;
}
